*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "zen kaku gothic antique" , sans-serif;
}

.inputContainer{
    max-width: 22rem;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 55px 50px 40px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Login{
    margin-top: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
}

.use{
    font-weight: lighter;
    font-size: 15px;
}

.ginput{
    width: 351px;
    height: 3.5rem;
    margin-top: 26px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 0 0 15px;
    background: none;
    outline: none;
    box-sizing: border-box;
}

.ginput:focus{
    border: 2px solid #4285f4;
}

.ginput:focus ~ .inputLabel:before{
    color: #4285f4;
    font-size: 12px;
    top: -65px;
    z-index: 1;
}

.inputLabel{
    position: relative;
    width: 200px;
}

.inputLabel:before{
    content: "Email or phone";
    position: absolute;
    top: -35px;
    left: -69px;
    background-color: white;
    font-size: 17px;
    z-index: -1;
    font-weight: lighter;
    padding: 0 10px;
    box-sizing: border-box;
    transition: 0.1s ease;
    color: gray;
}

.forgotContainer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.btnForgot{
    text-decoration: none;
    color: #366fca;
    font-weight: bold;
}

.buttonLearn{
    width: 100%;
    margin-top: -31px;
}

.btnLearn{
    text-decoration: none;
    color: #366fca;
    font-weight: bold;
}

.guest{
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 14px;
}

.buttonContainer{
    width: 109%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.buttonContainer a{
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    padding: 7px 15px 9px 15px;
}

.btnCreate:hover{
    color: #366fca;
    background-color: #f6f9fe;
}

.btnNext{
    background-color: #4285f4;
    color: white;
    transition: 0.1s ease;
    width: 51px;
    block-size: 22px;
    text-align: center;
}

.btnNext:hover{
    background-color: #1b66c9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.forgotContainer , .guest .Learn , .btnCreate {
    color: #4285f4;
}

.guest , .inputLabel :before{
    color: #5f6368;
}